[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
speechrecognition = "==3.8.1"
gtts = "==2.2.3"
python-dotenv = "*"
flask = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
